<div class="container">
  <h1>{{title}}</h1> <hr/>
  <div class="card">
    <div class="card-header">APP Component</div>
    <div class="card-body">
      <h2>APP Component</h2>
      <hr/>
      <button class="btn btn-primary btn-space" (click)="greetChild('Good Morning')">Good Morning</button>
      <button class="btn btn-primary btn-space" (click)="greetChild('Good Noon')">Good Noon</button>
      <button class="btn btn-primary btn-space" (click)="greetChild('Good Evening')">Good Evening</button>

    </div>
  </div>

  <hr/>

  <app-greet [greetingMessage]=geetMesaage  s1="Message from parent" msg="Hello how are you?" >
  
  </app-greet>

</div>