<div class="container">
  <h1>Pipes Demo</h1>
  <hr />


  <h2>Custom Pipes</h2>
  <hr/>

  <input type="text" [(ngModel)]="query" id="listSearch"/>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email Address</th>
        <th>Gender</th>
        <th>Date of Birth</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let emp of emps | searchFilter: query">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name}}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.gender }}</td>
        <td>{{ emp.dob }}</td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <h2>JSON</h2> <hr/>
  <h3>{{emp | json}}</h3>
  <hr/>

  <h2>Upper case / lower case</h2>
  <hr/>

  <h3>{{'praveen' | uppercase}}</h3>

  <h3>{{'Praveen Reddy S' | lowercase}}</h3>


  <hr/>


  <h2>Currency</h2>
  <hr />
  <h3> {{4500 }}</h3>
  <h3> {{4500 | currency:'USD'}}</h3>
  <h3> {{4500 | currency:'INR'}}</h3>
  <h3> {{4500 | currency:'CAD'}}</h3>
  <h3> {{4500 | currency:'CAD':'symbol-narrow'}}</h3>
  <hr />

  <h2>Date</h2> <hr/>

  <h3>{{dob}}</h3>
  
  <h3>{{dob | date}}</h3>
  <h3>{{dob | date:'fullDate'}}</h3>
  <h3>{{dob | date:'shortDate'}}</h3>
  <h3>{{dob | date:'MM-d-yy'}}</h3>
  <h3>{{dob | date:'MM-dd-YYYY'}}</h3>
  <h3>{{dob | date:'MM/dd/yyyy'}}</h3>
  <h3>{{dob | date:'dd/MM/yyyy'}}</h3>
  <h3>{{dob | date:'yyyy/MM/dd'}}</h3>
  <h3>{{dob | date:'yyyy/MMM/dd'}}</h3>
  <h3>{{dob | date:'yyyy/MMMM/dd'}}</h3>
  <h3>{{dob | date:'shortTime'}}</h3>
  <hr/>


</div>