<h1>Angular Clock APP</h1>

<div class="row">

  <div class="col-4">
    <div class="card">
      <div class="card-header">Indian Clock</div>
      <div class="card-body">
        <div class="card-text">
          <span class="badge bg-warning">
            <h1> {{loadClock('Asia/Kolkata')}}</h1>
          </span>
        </div>
      </div>
    </div>
  </div>


  <div class="col-4">
    <div class="card">
      <div class="card-header">Dubai Clock</div>
      <div class="card-body">
        <div class="card-text">
          <span class="badge bg-warning">
            <h1> {{loadClock('Asia/Dubai')}}</h1>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-header">American Clock</div>
      <div class="card-body">
        <div class="card-text">
          <span class="badge bg-warning">
            <h1> {{loadClock('America/new_york')}}</h1>
          </span>
        </div>
      </div>
    </div>
  </div>


</div>